<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do lists</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
  </head>
    <body>
        <div class="container">
            <div class="row v-align justify-content-center">
                <div class="col-5  jumbotron">
                    <div class="text-center">
                        <h1>{% block header_text %}{% endblock %}</h1>
                        <form method="POST" action="{% block form_action %}{% endblock %}">
                            <!--input name="item_text" id="id_new_item"
                                   class="form-control input-lg"
                                   placeholder="Enter a to-do item" /-->
                            {{ form.text }}
                            <!--{ form.text } 只会渲染这个表单中的 text 字段生成 HTML input 元素-->
                            {% csrf_token %}
                        <!--form.errors 是一个列表包含这个表单中的所有错误-->
                            {% if form.errors %}
                                <div class="form-group has-error">
                                  <!-- form.text.errors 也是一个列表但只包含 text 字段的错误-->
                                  <span class="help-block">{{ form.text.errors }}</span>
                                 </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% block table %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
